/* The @tailwind base directive includes all of the base styles, such as the default font family, font size, and font weight. The @tailwind components directive includes all of the pre-built components, such as buttons, forms, and tables. The @tailwind utilities directive includes all of the utility classes, such as .text-center and .bg-gray-200 . */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --on: initial;
  --off: ;
  --dev-mode: var(--off);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* The following rule will enable element outlines on hover to assist during development. 
    To enable/disable, set the --dev-mode variable to var(--on)/var(--off) in the :root selector above. 

    To enable/disable programmatically, use the following JavaScript:
    document.documentElement.style.setProperty('--dev-mode', 'var(--on)'); 
    document.documentElement.style.setProperty('--dev-mode', 'var(--off)');

    If you are using Vite, you can use the following JavaScript to enable/disable 
    the outlines depending on the current environment:
    if (import.meta.env. DEV) { // (remove the space before DEV)
      document.documentElement.style.setProperty('--dev-mode', 'var(--on)');
    } 

    If you are using Webpack, you can use the following JavaScript to enable/disable 
    the outlines depending on the current environment:
    if (process.env. NODE_ENV === 'development') { // (remove the space before NODE_ENV)
      document.documentElement.style.setProperty('--dev-mode', 'var(--on)');
    }
*/
*:hover {
  outline: var(--dev-mode, dashed 0.4rem rgba(195, 0, 255, 0.33));
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
